html,
body {
	height: 100%;
	margin: 0;
}
body {
	background: white;
	color: black;
	font-size: 14px;
	font-family: Courier, monospace, sans-serif;
}

.clear {
	clear: both;
}

.stats {
	width: 960px;
	margin: 0 auto;
}
	.services {

	}
		.services .table {
			width: 300px;
			height: 450px;
			float: left;
		}
		.services .piechart {
			width: 660px;
			height: 450px;
			float: left;
		}