@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html,
body {
	height: 100%;
	margin: 0;
}
body {
	background: #0e1626;
	color: #8197b1;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
	width: 0.5em;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
	background-color: #8197b1;
	outline: 1px solid slategrey;
}

h2, h3 {
	text-align: center;
	font-size: 2em;
	margin: 1em 0;
	font-weight: 700;
}
h3 {
	font-size: 1.5em;
}

.clear {
	clear: both;
}

.stats {
	width: 960px;
	margin: 0 auto;
}
	.services {

	}
		.services .table {
			width: 300px;
			height: 450px;
			float: left;
		}
		.services .piechart {
			width: 660px;
			height: 450px;
			float: left;
		}
	.credentials {
		width: 35%;
		float: right;
	}
	.requests {
		width: 54%;
		float: left;
	}
	.credentials .table, .requests .table {
		height: 450px;
	}

.google-visualization-table-tr-head {
	background-color: #0e1626 !important;
	color: #cfd7e6;
}
.google-visualization-table-tr-even {
	background-color: #0e1626 !important;
}
.google-visualization-table-tr-odd {
	background-color: #0e1626 !important;
}
.google-visualization-table-th {
	background: #0e1626 !important;
}

.table > div > div {
	/*overflow: hidden !important;*/
}
td, th {
	border: none !important;
	border-bottom: 1px solid #464d5d !important;
	text-align: left;
}
.google-visualization-table-type-number {
	text-align: right;
}
.google-visualization-table-seq {
	color: #3c4754 !important;
}

.google-visualization-table-table .google-visualization-table-th {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.google-visualization-table-table .google-visualization-table-td {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}