@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html,
body {
	height: 100%;
	margin: 0;
}
body {
	background: white;
	color: black;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

h2, h3 {
	text-align: center;
	font-size: 2em;
	margin: 1em 0;
	font-weight: 700;
}
h3 {
	font-size: 1.5em;
}

.clear {
	clear: both;
}

.stats {
	width: 960px;
	margin: 0 auto;
}
	.services {

	}
		.services .table {
			width: 300px;
			height: 450px;
			float: left;
		}
		.services .piechart {
			width: 660px;
			height: 450px;
			float: left;
		}
	.credentials {
		width: 40%;
		float: left;
	}
	.requests {
		width: 55%;
		float: right;
	}
	.credentials .table, .requests .table {
		height: 450px;
	}

.google-visualization-table-table .google-visualization-table-th {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.google-visualization-table-table .google-visualization-table-td {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}