@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono:400,700');

html,
body {
	height: 100%;
	margin: 0;
}
body {
	background: #0e1626;
	color: white;
	font-size: 14px;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: 400;
}
.data {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 15px;
}
#data-table {
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	padding: 15px;
}
#data-table table {
	margin: 0;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
#data-table td {
	padding: 0 25px 3px 0;
	white-space: nowrap;
}
#data-table tr, #data-table td {
	border-spacing: 0;
	border-collapse: collapse;
}
#data-table .request {
	width: 100%;
	font-weight: 500;
}
#data-table .ip {
	color: #f39c12;
}
#data-table .time {
	color: #6d6d6d;
}
#data-table .service {
	color: #27af60;
	font-weight: 500;
}
#data-table .request, #data-table .request a {
	color: #efefef;
}
#data-table a {
	text-decoration: none;
	white-space: nowrap;
}
#data-table a:hover {
	border-bottom: 1px dashed #cacaca;
}
.tingle-modal-box__content {
	color: black;
}
.data .box {
	margin: 20px 0;
}
.data .box:after {
	content: '';
	display: block;
	clear: both;
}
.box .amount {
	font-size: 200%;
	font-weight: 700;
}
.box .header {
	font-weight: 700;
}
.data .box > div {
	float: left;
	padding: 15px;
	width: 33.333%;
	height: 160px;
	overflow: hidden;
	box-sizing: border-box;
	white-space: nowrap;
}
.request-stats {
	background: #ec7b66;
}
.recent-credentials {
	background: #404e57;
}
.monthly-stats {
	background: #45a7b9;
	text-align: center;
}
.monthly-stats a {
	color: white;
	font-size: 150%;
	line-height: 130px;
	text-decoration: underline;
}
#requests_total {
	margin-bottom: 25px;
}

@media (max-width: 480px) {
	.data {
		padding: 15px;
	}
	#data-table {
		padding: 0;
		overflow: auto;
	}
	.data .box {
		margin: 0 0 20px;
	}
	.data .box > div {
		width: 100%;
	}
	.monthly-stats, .recent-credentials {
		display: none;
	}
	#data-table .ip {
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 767px)  {
	.data .box {
		margin: 0 0 20px;
	}
	.data .box > div {
		width: 50%;
	}
	.monthly-stats {
		display: none;
	}
	#data-table .ip {
		display: none;
	}
}